.footer {
  background-color: #0f2c33;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
  margin-right: 80px;
  
}

.footer-logo h3 {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer-logo p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-menu,
.footer-services,
.footer-contact {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-menu h4,
.footer-services h4,
.footer-contact h4 {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer-menu ul,
.footer-services ul {
  list-style: none;
  padding-bottom: 10px;
}

.footer-menu li,
.footer-services li {
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-menu li:hover,
.footer-services li:hover {
  color: rgb(255, 187, 0);
}

.footer-contact p {
  font-size: 14px;
  margin-bottom: 5px;
}

.socialMedia {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.socialMedia svg {
  margin-top: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.socialMedia svg:hover {
  color: rgb(255, 187, 0);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}
