.header-p {
    position: relative;
    text-align: center;
    padding: 3rem 1rem;
    color: #ffffff;
}

.header-p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: url('../assets/Pricing.jpg') no-repeat center;
    background-size: cover;
    opacity: 0.8; 
    z-index: -1;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    margin: 20px;  
}

/* .header-p {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 50%);
} */

 .header-p h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
    color: #ffffff;
    
}

.header-p h4 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

.header-p p {
    font-size: 1.2rem;
    margin: 1rem 0;
} 