.why-choose-us {
    padding: 50px 100px;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .section-header h4 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    
  }
  
  .section-header p {
    text-align: center;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
  }
  
  .image-section img {
    display: block;
    width: 500px;
    border-radius: 10px;
  }